streamlit==0.84.1
numpy==1.21.1
pandas==1.1.3
plotly==5.1.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
pillow==8.0.0
prophet
cmdstanpy
kats==0.1.0
statsmodels==0.12.2
pystan==2.19.1.1
fbprophet==0.7
scikit-learn==0.24.2
# welleng == 0.1.3
# streamlit-folium
# geemap
# leafmap