altair==4.1.0
async-generator==1.10
blinker==1.4
brotlipy==0.7.0
certifi==2021.5.30
click==7.1.2
cycler==0.10.0
ipython-genutils==0.2.0
LunarCalendar==0.0.9
pandocfilters==1.4.2
protobuf==3.16.0
pyarrow==4.0.1
pyparsing==2.4.7
pystan==2.19.1.1
PyYAML==5.4.1
webencodings==0.5.1
wincertstore==0.2